:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 400px;
	margin: 30px auto 0;
	align-items: start;
	justify-content: center;
}

.select-wrapper {
	display: flex;
	flex-direction: column;

	.select-title {
		margin-bottom: 5px;
	}
}
