form {
	padding: 40px 0 20px;
	border-radius: 8px;
	width: 500px;
	display: flex;
	background-color: #f3f3f3;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;

	button[type='submit'] {
		margin-top: 20px;
		background-color: #e9ac15;
		color: #fff;
		font-size: 16px;
		border-radius: 8px;
		border: none;
		padding: 10px 50px;
		max-width: 200px;

		&:hover {
			cursor: pointer;
		}
	}
}

.review-textarea {
	width: 400px;
	border-radius: var(--border-radius);
	background-color: white;
	padding: calc(var(--spacing-step) * 2);
	margin-top: var(--spacing-step);
	min-height: 74px;
	box-sizing: border-box;
}

:host::ng-deep {
	h4 {
		margin-top: 0;
		margin-bottom: var(--spacing-step);

		&:empty:before {
			content: attr(data-placeholder);
			opacity: 0.6;
		}
	}

	p {
		&:empty:before {
			content: attr(data-placeholder);
			opacity: 0.6;
		}
	}
}
