/* You can add global styles to this file, and also import other style files */

:root {
	--color-primary: #004859;
	--color-accent: #ff8888;
	--color-accent-secondary: #ffc15a;
	--color-accent-secondary-darker: #faa415;
	--color-success: #4caf50;
	--color-error: #ff5722;
	--color-info: #449eff;
	--color-background: #eceff1;
	--color-text: #263238;
	--color-text-light: #607d8b;
	--height-header: 64px;
	--height-footer: 48px;
	--border-radius: 10px;
	--spacing-step: 8px;
	--font-size-h1: 34px;
}
