:host {
	width: 400px;
	margin-bottom: 20px;
	display: block;
	border-radius: 8px;
}

.rating-options {
	margin: 0;
	padding: var(--spacing-step, 4px);
	list-style: none;
	display: flex;
	box-sizing: border-box;
	min-width: 200px;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 8px;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	li {
		padding: 5px 13px;
		border-radius: 8px;
		cursor: pointer;
		box-sizing: border-box;
		font-size: 26px;

		&:hover,
		&.active {
			background-color: #daeefa;
		}
	}
}
